:root {
  font-family: Inter, sans-serif;

  --header-height: 18.5rem;
  --shadow-1: 0 0.4rem 0.4rem rgb(0 0 0 / 10%);
  --shadow-2: 0.1rem 0.2rem 0.5rem hsl(0deg 0% 80%);

  /* * BASE PARA CORES */
  --primary-h: 261;
  --primary-s: 67%;
  --primary-l: 57%;
  --secondary-h: 282;
  --secondary-s: 91%;
  --secondary-l: 55%;

  /* * BASE PARA CORES DE SOBREPOSIÇÃO */
  --on-primary-h: 0;
  --on-primary-s: 0%;
  --on-primary-l: 99%;
  --on-secondary-h: 0;
  --on-secondary-s: 100%;
  --on-secondary-l: 99%;

  /* * BASE PARA CORES PARA SUPERFÍCIE E DE SOBREPOSIÇÃO DE SUPERFÍCIES */
  --surface-h: 0;
  --surface-s: 0%;
  --surface-l: 86%;
  --on-surface-h: 0;
  --on-surface-s: 0%;
  --on-surface-l: 4%;

  /* * BASE PARA CORES PARA BACKGROUND E DE SOBREPOSIÇÃO DE BACKGROUNDS */
  --background-h: 0;
  --background-s: 0%;
  --background-l: 97%;

  /* * BASE PARA CORES PARA ERROR E DE SOBREPOSIÇÃO DE ERRORS */
  --error-h: 0;
  --error-s: 90%;
  --error-l: 45%;
  --on-error-h: 0;
  --on-error-s: 0%;
  --on-error-l: 99%;

  /* * BASE PARA CORES PARA SUCCESS E DE SOBREPOSIÇÃO DE SUCCESS */
  --success-h: 115;
  --success-s: 81%;
  --success-l: 70%;
  --on-success-h: 0;
  --on-success-s: 0%;
  --on-success-l: 5%;

  /* * CORES PRIMARIAS E SECUNDÁRIAS */

  /* PRIMÁRIA E VARIANTES */
  --primary: hsl(var(--primary-h) var(--primary-s) var(--primary-l));
  --primary-light: hsl(var(--primary-h) var(--primary-s) 32%);
  --primary-dark: hsl(var(--primary-h) var(--primary-s) 0%);

  /* SECUNDÁRIA E VARIANTES */
  --secondary: hsl(var(--secondary-h) var(--secondary-s) var(--secondary-l));
  --secondary-light: hsl(var(--secondary-h) var(--secondary-s) 96%);
  --secondary-dark: hsl(var(--secondary-h) var(--secondary-s) 36%);

  /* * CORES PARA SOBREPOSIÇÃO DE CORES PRIMARIAS E SECUNDÁRIAS */

  /* PRIMÁRIA E VARIANTES */
  --on-primary: hsl(
    var(--on-primary-h) var(--on-primary-s) var(--on-primary-l)
  );

  /* SECUNDÁRIA E VARIANTES */
  --on-secondary: hsl(
    var(--on-secondary-h) var(--on-secondary-s) var(--on-secondary-l)
  );
  --on-secondary-light: hsl(
    var(--secondary-h) var(--secondary-s) var(--secondary-l)
  );
  --on-secondary-dark: hsl(var(--on-secondary-h) var(--on-secondary-s) 100%);

  /* * CORES PARA SUPERFÍCIE E DE SOBREPOSIÇÃO DE SUPERFÍCIES */
  --surface: hsl(var(--surface-h) var(--surface-s) var(--surface-l));
  /* --surface-light: hsl(var(--surface-h) var(--surface-s) 100%); */
  --surface-dark: hsl(var(--surface-h) var(--surface-s) 60%);

  /* * CORES PARA SOBREPOSIÇÃO DE SUPERFÍCIES */
  --on-surface: hsl(
    var(--on-surface-h) var(--on-surface-s) var(--on-surface-l)
  );
  --on-surface-light: hsl(var(--on-surface-h) var(--on-surface-s) 100%);
  --on-surface-dark: hsl(var(--on-surface-h) var(--on-surface-s) 0%);

  /* * CORES PARA BACKGROUND E DE SOBREPOSIÇÃO DE BACKGROUNDS */
  --background: hsl(0deg 0% 100%);
  --on-background: hsl(0deg 0% 0%);

  /* * CORES PARA INDICAR SUCESSO */
  --success: hsl(var(--success-h) var(--success-s) var(--success-l));
  --success-dark: hsl(var(--success-h) 60% 46%);

  /* * CORES PARA INDICAÇÃO DE ERROS */
  --error: hsl(var(--error-h) var(--error-s) var(--error-l));
  --error-light: hsl(var(--error-h) 100% 76%);
  --error-dark: hsl(var(--error-h) 90% 36%);

  /* * CORES PARA ELEMENTOS DESABILITADOS */
  --disabled: hsl(0deg 0% 70%);
  --on-disabled: hsl(0deg 100% 0%);
  --disabled-light: rgb(170 170 170);
  --on-disabled-light: hsl(0deg 0% 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
