.liStyled {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 0.2rem;
  margin: 0.7rem 0;
}

.icon {
  font-size: 1.7rem;
}

#currentPage {
  color: var(--secondary-dark);
}

.ul {
  list-style: none;
}


.linkStyled {
  width: 100%;
}

.link { 
  width: 0;
  color: transparent;
}