.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  margin: 0.7rem 0;
  color: var(--background);
}

.icon {
  font-size: 1.3rem;
  flex-shrink: 0;

  @media screen and (max-width: 350px){
    font-size: 1rem;
  }
}


#currentPage {
  color: var(--secondary-light);
}


.link { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
}

.path {
  opacity: 100;

  @media screen and (max-width: 350px){
    font-size: .8rem;
  }
}

.hidePath {
  opacity: 0;
  display: none;
}