.existingComments {
  min-height: 30px;
  background-color: var(--primary );
  padding: 1rem;
  border-radius: .5rem;
}

.headerSession {
  display: flex;
  justify-content: space-between;

  & > label {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--background);
  }
}

.openSession {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border: none;
  border-radius: .3rem;
  cursor: pointer;

  & > svg {
    color: var(--background);
    font-size: 1.5rem;
    flex-shrink: 0;
  }
}

.sessionComments {
   max-height: 400px;
   gap: 1rem;
   overflow-y: auto;
   margin-top: 1rem;

   &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--disabled); 
    border-radius: 10px;
  }
   
  &::-webkit-scrollbar-thumb {
    background: var(--disabled); 
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: var(--surface-light); 
  }

   & > li {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    margin: .8rem;
    padding: 1rem;
    border-radius: .5rem;
  }
}

.collapsed {
  display: none;
}

.expanded {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  gap: 0.5rem;
  font-style: italic;
  color: var(--primary);
  font-weight: bold;

  & > p:first-child {
    border-right: 2px solid var(--primary);
    padding-right: .3rem;
  }
}

.deleteComment {
  height: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--error);
  background-color: var(--background);
  border: none;
  border-radius: 50%;
}

.comment {
  font-weight: bold;
  color: var(--surface-light);
  border: 1px solid var(--disabled);
  border-radius: .3rem;
  margin-top: .5rem;
  padding: .5rem;
}

.noComment {
  font-weight: bold;
  color: var(--surface-light);
  background-color: var(--background);
  padding: 1rem;
  border-radius: .5rem;
}